h1 a:has(.icon.feed) {
	color: currentColor;
}

h1 .icon.feed {
	-webkit-mask-image: var(--icon-feed);
	vertical-align: -0.375rem;
	mask-image: var(--icon-feed);
	margin-inline-start: 0.5rem;
	width: 1em;
	height: 1em;
}
