i.icon {
	display: inline-block;
	mask-size: cover;
	background-color: currentColor;
	width: 1rem;
	height: 1rem;
	font-style: normal;
	font-variant: normal;
	line-height: 0;
	text-rendering: auto;
}
