iframe {
	display: block;
	margin: 1rem auto;
	box-shadow: var(--edge-highlight), var(--shadow);
	border: none;
	border-radius: var(--rounded-corner);
	background-color: var(--fg-muted-1);
	width: 100%;
	max-width: 100%;

	&.mastodon-embed {
		aspect-ratio: 3 / 4;
		width: min(calc(var(--container-width) / 2), 100%);
	}

	&.vimeo-embed,
	&.youtube-embed {
		aspect-ratio: 16 / 9;
	}

	&:fullscreen {
		box-shadow: none;
		border-radius: 0;
	}

	&:-webkit-full-screen {
		box-shadow: none;
		border-radius: 0;
	}
}
